#[derive(Clone, Copy, Debug, PartialEq, Eq, Hash, PartialOrd, Ord, ::prost::Enumeration)]
pub enum {{ name.upper_camel_case }} {
    {% for value in values %}
    /// {{ value.description }}
    {{ value.name.upper_camel_case }} = {{ loop.index - 1 }}
    {%- endfor %}
}

impl From<&i32> for {{ nested_enum.name.upper_camel_case }} {
    fn from(rpc_{{ nested_enum.name.lower_snake_case }}: &i32) -> Self {
        {{ nested_enum.name.upper_camel_case }}::from_i32(rpc_{{ nested_enum.name.lower_snake_case }}).unwrap()
    }
}